#header {
    height: 10%;
}

#content {
    height: 80%;
}

#sidebar {
    width: 15%;
    height: 100%;
    float: left;
}

#main {
    background-color: black;
    height: 100%;
    width: 85%;
    float: left;
}

#footer {
    background-color: yellow;
    height: 10%;
    clear: both;
}
